<div class='entry'>
	<legend>Bet365 Api Config</legend>
	<input id="api_id" type="hidden" value="{{api.id}}" />
	<label>Protocol</label>
	<input id="api_protocol" type="text" value="{{api.protocol}}"/>
	<label>OGW Path</label>
	<input id="api_path" type="text" value="{{api.path}}"/>
	<label>Fall Back Path</label>
	<input id="api_fallbackPath" type="text" value="{{api.fallbackPath}}"/>
	<label>URL Prefix</label>
	<input id="api_urlPrefix" type="text" value="{{api.urlPrefix}}"/>

	<h3>Defaults</h3>
	<input id="api_casinoName" type="text" value="{{api.defaults.casinoName}}"/>
	<input id="api_systemId" type="text" value="{{api.defaults.systemId}}"/>
	</div>
	<button type="button" class="gtreg btn btn-success">Save</button>

</div>