<button type="button" class="gtreg btn btn-success">Save</button>
<div class="test">
    <div d-bind="testObj" style="border:1px solid red; padding-left:100px;">
        <h5>testObj</h5>



        <label>field</label>
        <input d-bind="field" type="text" value="data">



        <div d-bind="innerObj" style="border:1px solid red; padding-left:100px;">
            <h5>innerObj</h5>



            <label>data</label>
            <input d-bind="data" type="text" value="datares">





            <div d-bind="sdasdasdasinnerObj" style="border:1px solid red; padding-left:100px;">
                <h5>sdasdasdasinnerObj</h5>



                <label>data</label>
                <input d-bind="data" type="text" value="datares">



            </div>
        </div>

    </div>
</div>

<div class='entry'>
	<legend>Bet365 Api Config</legend>

{{#each api}}
	{{#ifObject  this @key }}

	{{else}}
        <label >{{@key}}</label>
        <input d-bind="{{@key}}" type="text" value="{{this}}"/>
	{{/ifObject}}
{{/each}}

</div>
